<% products.forEach((product, index)=>{ %>
    <tr>
        <td style="">
            <%=index+1%>
        </td>
        <td style=""><span class="label label-warning"><%=product.prd_name%></span></td>
        <td style="">
            <%product.comments.forEach((comment, ind) => {%>
                <div>
                    <span class="label label-info"><%= comment.info.email%></span>
                    <span class="label label-danger">==></span>
                    <span class="label label-success"><%= comment.content%></span>
                </div>
                <%})%>

        </td>
        <td class="form-group">
            <%product.comments.forEach((comment, ind) => {%>
                <div>
                    <span class="label label-info"><%= comment.createdAt%></span>
                </div>
                <%})%>
        </td>
    </tr>
    <%}) %>