<% if(page > 1){ %>
    <li class="page-item">
        <a data-page="<%= page-1%>" class="page-link" href="#">back</a>
    </li>
    <%}%>
        <% range.map((i)=>{ %>
            <li class="page-item <%= page === i ? " active ": " " %>">
                <% if(i === "...") {%>
                    <span class="page-link"><%=i%></span>
                    <%} else {%>
                        <a data-page="<%=i%>" class="page-link" href="#">
                            <%=i%>
                        </a>
                        <% } %>
            </li>
            <%})%>
                <% if(page < totalPages){ %>
                    <li class="page-item">
                        <a class="page-link" data-page="<%=page+1%>" href="#">Next</a>
                    </li>
                    <%}%>